/* Colors
* Ocean Blue: #0C73FF;
* Light Teal: #4CDBC2;
*/


body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.wrapper {
  margin: 30px 0 0;
}

a {
  color: #0C73FF;
  text-decoration: none;
}

form {
  width: 25%;
}

header {
  width: 100%;
}

div.logo {
  display: inline-block;
}

div.logo h1 {
  float: left;
  margin: -99999px;
}

div.logo img {
  padding: 0 20px 0 0;
  max-width: 152px;
  width: 100px; 
}

nav.main-nav {
  display: inline-block;
}

nav.main-nav ul {
  position: relative;
  top: -30px;
  margin: 0;
  padding: 0;
}

nav.main-nav ul li {
  display: inline-block;
  padding: 0 20px;
  border-bottom: 1px solid #FFF;
  text-transform: uppercase;
}
