@charset 'UTF-8';

/*** Color Codes ***
* Dark Grey   rgb(62,62,62)     #3E3E3E
* Grey        rgb(169,169,169)  #A9A9A9
* Light Grey  rgb(235,235,235)  #EBEBEB
* Beige       rgb(246,244,242)  #F6F4F2
* Peach       rgb(248,210,197)  #F8D2C5
* SeaFoam     rgb(191,242,225)  #BFF2E1
* Teal        rgb(125,208,203)  #7DD0CB
***/


/* Reset Styling */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
}

/* Apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

/* General Elements */
html {
  background: #FFF;
  height: 100%;
  width: 100%;
}

body {
  color: #3E3E3E;
  font-family: 'Josefin Sans', Helvetica, 'Lucida Grande', sans-serif; 
  height: 100%;
  margin: 0px;
  min-height: 100%;
  padding: 0px;
  position: relative;
  width: 100%;
}

header {
  background-color: #FFF;
  border-top: 5px solid #F8D2C5;
  border-bottom: 1px solid #F6F4F2;
  height: 50px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99999;
}

div.wrapper {
  margin-bottom: -100px; 
  min-height: 100%;
  position: relative;
  top: 50px;
  width: 100%;
}

div.wrapper:after {
  content: "";
  display: block;
  height: 10px;
}

div.logo {
  left: 10px;
  position: absolute;
  top: 15px;
}

/* Navigation */
nav.main {
  margin: -5px auto 0px;
  position: relative;
  width: 500px;
}

nav.main ul li {
  display: inline;
}

nav.main ul li a {
  border: 1px transparent solid;
  margin: 0px 10px;
  padding: 5px 8px;
  text-decoration: none;
}

nav.main li a:link,
nav.main li a:visited {
  color: #3E3E3E;
}

nav.main li a:hover,
nav.main li a:active {
  border: 1px #7DD0CB solid;
}

nav.main {
  position: relative;
  top: 20px;
  z-index: 99999;
}

nav.account ul {
  font-size: 14px;
  position: absolute;
  top: 20px;
  right: 10px;
}

nav.account ul li {
  display: inline;
}

nav.account ul li a {
  color: #A9A9A9;
  padding: 5px;
  text-decoration: none;
}

/* Headings */
h1 {
  color: #7DD0CB;
  display: inline-block;
  font-size: 24px;
}

h2 {
  color: #F8D2C5;
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  margin: 10px 0px;
  line-height:1.5em;
}

/* Links */
a:link,
a:visited {
  color: #F8D2C5;
  text-decoration: none;
}

a:hover,
a:active {
  color: #7DD0CB;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

/*** Home Section ***/
section {
  padding: 50px;
  margin: 0 auto;
}

section.banner {
  background: url('../img/boho_style.jpg') no-repeat center top;
  background-size: cover;
  height: 500px;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%;
}

/*** Footer Section ***/
footer {
  background-color: #F6F4F2;
  color: #3E3E3E;
  font-size: 12px;
  height: 150px;
  padding: 20px;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

footer p {
  padding: 20px;
}

footer nav ul li {
  display: inline;
  height: 40px;
}

footer nav ul li a:link,
footer nav ul li a:visited {
  color: #A9A9A9;
  margin: 10px 16px;
  padding: 5px;
  text-decoration: none;
}

footer nav ul li a:hover,
footer nav ul li a:active {
  color: #F8D2C5;
}

img.productImg {
  display: block;
  max-width: 100px;
}

div.order .line-item p {
  display: table-cell; 
  width: 100px;
}

button, input[type=submit] {
  cursor: pointer;
  background-color: #7DD0CB;
  border: none;
  padding: 5px 10px;
}

button:hover, input[type=submit]:hover {
  background-color: #F6F4F2;
}



/*  Column Grid Layout */
.col {
  display: block;
  float:left;
  margin: 20px;
  min-width: 200px;
}

.col:first-child { 
  margin-left: 0; 
}

.4-of-4 {
  width: 100%;
}

.3-of-4 {
  width: 74.5%;
}

.2-of-4 {
  width: 49%;
}

.1-of-4 {
  width: 23.5%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}
